web/WEB-INF/wsdl/localhost_8080/AgendaSur-war/agendaSurService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.agendasur/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.agendasur/" name="agendaSurService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.agendasur/" schemaLocation="http://localhost:8080/AgendaSur-war/agendaSurService?xsd=1"/>
</xsd:schema>
</types>
<message name="findUsuario">
<part name="parameters" element="tns:findUsuario"/>
</message>
<message name="findUsuarioResponse">
<part name="parameters" element="tns:findUsuarioResponse"/>
</message>
<message name="findAllTag">
<part name="parameters" element="tns:findAllTag"/>
</message>
<message name="findAllTagResponse">
<part name="parameters" element="tns:findAllTagResponse"/>
</message>
<message name="createEvento">
<part name="parameters" element="tns:createEvento"/>
</message>
<message name="editEvento">
<part name="parameters" element="tns:editEvento"/>
</message>
<message name="createComentario">
<part name="parameters" element="tns:createComentario"/>
</message>
<message name="findAllEvento">
<part name="parameters" element="tns:findAllEvento"/>
</message>
<message name="findAllEventoResponse">
<part name="parameters" element="tns:findAllEventoResponse"/>
</message>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<message name="findTag">
<part name="parameters" element="tns:findTag"/>
</message>
<message name="findTagResponse">
<part name="parameters" element="tns:findTagResponse"/>
</message>
<message name="editTag">
<part name="parameters" element="tns:editTag"/>
</message>
<message name="removeEvento">
<part name="parameters" element="tns:removeEvento"/>
</message>
<message name="findEvento">
<part name="parameters" element="tns:findEvento"/>
</message>
<message name="findEventoResponse">
<part name="parameters" element="tns:findEventoResponse"/>
</message>
<message name="findEventosByTag">
<part name="parameters" element="tns:findEventosByTag"/>
</message>
<message name="findEventosByTagResponse">
<part name="parameters" element="tns:findEventosByTagResponse"/>
</message>
<message name="existeMeGusta">
<part name="parameters" element="tns:existeMeGusta"/>
</message>
<message name="existeMeGustaResponse">
<part name="parameters" element="tns:existeMeGustaResponse"/>
</message>
<message name="darMeGusta">
<part name="parameters" element="tns:darMeGusta"/>
</message>
<message name="darMeGustaResponse">
<part name="parameters" element="tns:darMeGustaResponse"/>
</message>
<message name="sendMail">
<part name="parameters" element="tns:sendMail"/>
</message>
<message name="sendMailResponse">
<part name="parameters" element="tns:sendMailResponse"/>
</message>
<message name="validarEvento">
<part name="parameters" element="tns:validarEvento"/>
</message>
<message name="validarEventoResponse">
<part name="parameters" element="tns:validarEventoResponse"/>
</message>
<message name="asignarTagsAUsuario">
<part name="parameters" element="tns:asignarTagsAUsuario"/>
</message>
<message name="asignarTagsAUsuarioResponse">
<part name="parameters" element="tns:asignarTagsAUsuarioResponse"/>
</message>
<message name="findTagsEvento">
<part name="parameters" element="tns:findTagsEvento"/>
</message>
<message name="findTagsEventoResponse">
<part name="parameters" element="tns:findTagsEventoResponse"/>
</message>
<message name="findTagsUsuario">
<part name="parameters" element="tns:findTagsUsuario"/>
</message>
<message name="findTagsUsuarioResponse">
<part name="parameters" element="tns:findTagsUsuarioResponse"/>
</message>
<message name="findEventosNoValidados">
<part name="parameters" element="tns:findEventosNoValidados"/>
</message>
<message name="findEventosNoValidadosResponse">
<part name="parameters" element="tns:findEventosNoValidadosResponse"/>
</message>
<message name="findEventosNoCaducadosYValidados">
<part name="parameters" element="tns:findEventosNoCaducadosYValidados"/>
</message>
<message name="findEventosNoCaducadosYValidadosResponse">
<part name="parameters" element="tns:findEventosNoCaducadosYValidadosResponse"/>
</message>
<message name="asignarTagsAEvento">
<part name="parameters" element="tns:asignarTagsAEvento"/>
</message>
<message name="asignarTagsAEventoResponse">
<part name="parameters" element="tns:asignarTagsAEventoResponse"/>
</message>
<message name="findEventosOrdenadosPorDistancia">
<part name="parameters" element="tns:findEventosOrdenadosPorDistancia"/>
</message>
<message name="findEventosOrdenadosPorDistanciaResponse">
<part name="parameters" element="tns:findEventosOrdenadosPorDistanciaResponse"/>
</message>
<message name="findComentariosEvento">
<part name="parameters" element="tns:findComentariosEvento"/>
</message>
<message name="findComentariosEventoResponse">
<part name="parameters" element="tns:findComentariosEventoResponse"/>
</message>
<portType name="agendaSurService">
<operation name="findUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/findUsuarioRequest" message="tns:findUsuario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findUsuarioResponse" message="tns:findUsuarioResponse"/>
</operation>
<operation name="findAllTag">
<input wsam:Action="http://services.agendasur/agendaSurService/findAllTagRequest" message="tns:findAllTag"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findAllTagResponse" message="tns:findAllTagResponse"/>
</operation>
<operation name="createEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/createEvento" message="tns:createEvento"/>
</operation>
<operation name="editEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/editEvento" message="tns:editEvento"/>
</operation>
<operation name="createComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/createComentario" message="tns:createComentario"/>
</operation>
<operation name="findAllEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/findAllEventoRequest" message="tns:findAllEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findAllEventoResponse" message="tns:findAllEventoResponse"/>
</operation>
<operation name="editUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/editUsuario" message="tns:editUsuario"/>
</operation>
<operation name="findTag">
<input wsam:Action="http://services.agendasur/agendaSurService/findTagRequest" message="tns:findTag"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findTagResponse" message="tns:findTagResponse"/>
</operation>
<operation name="editTag">
<input wsam:Action="http://services.agendasur/agendaSurService/editTag" message="tns:editTag"/>
</operation>
<operation name="removeEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/removeEvento" message="tns:removeEvento"/>
</operation>
<operation name="findEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/findEventoRequest" message="tns:findEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findEventoResponse" message="tns:findEventoResponse"/>
</operation>
<operation name="findEventosByTag">
<input wsam:Action="http://services.agendasur/agendaSurService/findEventosByTagRequest" message="tns:findEventosByTag"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findEventosByTagResponse" message="tns:findEventosByTagResponse"/>
</operation>
<operation name="existeMeGusta">
<input wsam:Action="http://services.agendasur/agendaSurService/existeMeGustaRequest" message="tns:existeMeGusta"/>
<output wsam:Action="http://services.agendasur/agendaSurService/existeMeGustaResponse" message="tns:existeMeGustaResponse"/>
</operation>
<operation name="darMeGusta">
<input wsam:Action="http://services.agendasur/agendaSurService/darMeGustaRequest" message="tns:darMeGusta"/>
<output wsam:Action="http://services.agendasur/agendaSurService/darMeGustaResponse" message="tns:darMeGustaResponse"/>
</operation>
<operation name="sendMail">
<input wsam:Action="http://services.agendasur/agendaSurService/sendMailRequest" message="tns:sendMail"/>
<output wsam:Action="http://services.agendasur/agendaSurService/sendMailResponse" message="tns:sendMailResponse"/>
</operation>
<operation name="validarEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/validarEventoRequest" message="tns:validarEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/validarEventoResponse" message="tns:validarEventoResponse"/>
</operation>
<operation name="asignarTagsAUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/asignarTagsAUsuarioRequest" message="tns:asignarTagsAUsuario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/asignarTagsAUsuarioResponse" message="tns:asignarTagsAUsuarioResponse"/>
</operation>
<operation name="findTagsEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/findTagsEventoRequest" message="tns:findTagsEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findTagsEventoResponse" message="tns:findTagsEventoResponse"/>
</operation>
<operation name="findTagsUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/findTagsUsuarioRequest" message="tns:findTagsUsuario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findTagsUsuarioResponse" message="tns:findTagsUsuarioResponse"/>
</operation>
<operation name="findEventosNoValidados">
<input wsam:Action="http://services.agendasur/agendaSurService/findEventosNoValidadosRequest" message="tns:findEventosNoValidados"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findEventosNoValidadosResponse" message="tns:findEventosNoValidadosResponse"/>
</operation>
<operation name="findEventosNoCaducadosYValidados">
<input wsam:Action="http://services.agendasur/agendaSurService/findEventosNoCaducadosYValidadosRequest" message="tns:findEventosNoCaducadosYValidados"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findEventosNoCaducadosYValidadosResponse" message="tns:findEventosNoCaducadosYValidadosResponse"/>
</operation>
<operation name="asignarTagsAEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/asignarTagsAEventoRequest" message="tns:asignarTagsAEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/asignarTagsAEventoResponse" message="tns:asignarTagsAEventoResponse"/>
</operation>
<operation name="findEventosOrdenadosPorDistancia">
<input wsam:Action="http://services.agendasur/agendaSurService/findEventosOrdenadosPorDistanciaRequest" message="tns:findEventosOrdenadosPorDistancia"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findEventosOrdenadosPorDistanciaResponse" message="tns:findEventosOrdenadosPorDistanciaResponse"/>
</operation>
<operation name="findComentariosEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/findComentariosEventoRequest" message="tns:findComentariosEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findComentariosEventoResponse" message="tns:findComentariosEventoResponse"/>
</operation>
</portType>
<binding name="agendaSurServicePortBinding" type="tns:agendaSurService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEventosByTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeMeGusta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="darMeGusta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asignarTagsAUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTagsEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTagsUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEventosNoValidados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEventosNoCaducadosYValidados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asignarTagsAEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEventosOrdenadosPorDistancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findComentariosEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="agendaSurService">
<port name="agendaSurServicePort" binding="tns:agendaSurServicePortBinding">
<soap:address location="http://localhost:8080/AgendaSur-war/agendaSurService"/>
</port>
</service>
</definitions>